# Go 관련 파일
/go.mod
/go.sum

# Go 빌드 아티팩트
*.exe
*.dll
*.so
*.dylib
*.test

# 디렉토리 및 바이너리 파일
bin/
out/
dist/

# GoLand와 VS Code 등의 IDE 관련 파일
.idea/
.vscode/
*.code-workspace

# OS 관련 파일
.DS_Store
Thumbs.db

# 기타 캐시 파일
*.log
*.tmp
*.cache

# Git 관련 파일
*.orig
